[submodule "rps-game"]
	path = rps-game
	url = git@github.com:fishonttree/rps-game.git
[submodule "pages/pages/rps-game"]
	path = pages/pages/rps-game
	url = git@github.com:fishonttree/rps-game.git
[submodule "pages/rps-game"]
	path = pages/rps-game
	url = git@github.com:fishonttree/rps-game.git
