* {
    font-family:'Courier New', Courier, monospace;
    line-height: 1.5;
    outline: 1px dotted red;
}

.section-title {
    color: white;
    background-color: grey;
    padding: 10px ;
}

.subsection-title {
    color: green;
    margin: 10px;
    padding: 10px;
}

p {
    color: black;
}

img {
    height: 300px;
    width: auto;
}

ul {
    display: flex ;
    list-style: none;
}

a { 
    display: block;
}
/*
{
    padding: 10px (shorthand);
    
    margin: 10px 10px 10px 10px
    (top | right | bottom | left - clockwise)
    (only one measurement - short for
    'all directions')
    (two measurements - one for top + bottom,
    oen for left + right. NOTE: "auto" for
    left + right will put it in the center)

    border: 2px {dotted/solid/...} {color};
}
*/