* {
    line-height: 1.5 ;
}

#section-title {
    color: red ;
}

.subsection-title {
    color: magenta ;
}

.text {
    color: black ;
}

.green.text {
    color: green ;
}

.red.text {
    color: red;
}

.image-description {
    color: blue ;
}

.ancestor .descendent {
    color: rgb(27, 114, 161);
}

.fonted-text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 40px ;
}

.aligned-text {
    text-align: centre ;
}

img {
    height: 200px;
    width: 600px;
}