* {
    line-height: 2.0;
    outline: 1px dotted red;
    font-family: "Open Sans", "PT Sans", 'Courier New', Courier, monospace;
}

.subsection {
    color: blue; 
}

.main .list {
     color: red;
}

#subsection {
    color: green;
    padding: 20px;
}

.subsubsection {
    color: magenta;
}